
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 364.98px) {
	.slider{
		padding: 55px;
	}
	.slider h2 {
		margin-top: 70px;
        font-size: 22px;
        text-align: center;
    }
    .slider p{
    	margin-bottom: 35px;
        font-size: 12px;
        text-align: center;
    }
    .slider button{
    	font-size: 14px;
    	margin-bottom: 60px;
    }
    .indi{
    	bottom: 40px;
    }
    .indi [data-bs-target]{
	    width: 9px;
	    height: 9px;
    }
}
/* Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 365px) and (max-width: 575.98px) {
	.slider{
		padding: 55px;
	}
	.slider h2 {
		margin-top: 50px;
        font-size: 28px;
        text-align: center;
    }
    .slider p{
    	margin-bottom: 35px;
        font-size: 16px;
        text-align: center;
    }
    .slider button{
    	margin-bottom: 60px;
    }
    .indi{
    	bottom: 40px;
    }
    .indi [data-bs-target]{
	    width: 11px;
	    height: 11px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.slider{
		padding: 55px;
	}
	.slider h2 {
		margin-top: 50px;
        font-size: 40px;
        text-align: center;
    }
    .slider p{
    	margin-bottom: 35px;
        font-size: 18px;
        text-align: center;
    }
    .slider button{
    	margin-bottom: 60px;
    	padding: 7px 30px;
    }
    .indi{
    	bottom: 40px;
    }
    .indi [data-bs-target]{
	    width: 12px;
	    height: 12px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.slider{
		padding: 55px;
	}
	.slider h2 {
		margin-top: 55px;
        font-size: 28px;
    }
    .slider p{
        font-size: 16px;
    }
    .slider button{
    	margin-bottom: 60px;
    	padding: 5px 15px;
    }
    .indi{
    	bottom: 40px;
    }
    .indi [data-bs-target]{
	    width: 12px;
	    height: 12px;
    }
}    

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.slider{
		padding: 76px;
	}
	.slider h2 {
		margin-top: 100px;
        font-size: 30px;
    }
    .slider p{
        font-size: 17px;
    }
	.slider button{
		margin-top: 50px;
    	margin-bottom: 60px;
    	padding: 5px 15px;
    }
    .indi{
    	bottom: 40px;
   }
	.indi [data-bs-target]{
	    width: 12px;
	    height: 12px;
    }
}

/*Extra Large devices (Extra large desktops, 992px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	
}

/* Extra Extra large devices (Extra Extra large desktops, 1400px and up)*/
@media (min-width: 1400px) {
	
}